---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Path of Exile Reminder App">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:account-voice" title="Spoken Reminders">
          Reminders play using text-to-speech.
        </Feature>
        <Feature icon="mdi:calendar-range" title="Easy Dates">
          Remind me in 10m / tomorrow 5pm / Oct 31st at noon / ...
        </Feature>
        <Feature icon="mdi:play-pause" title="Lets You Game">
          Waits until you're safe to remind you.
        </Feature>
      </div>
    </div>
  </section>
</DefaultLayout>

